@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_t0p593u0sy8pvi.eot');
  src: url('//at.alicdn.com/t/font_t0p593u0sy8pvi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_t0p593u0sy8pvi.woff') format('woff'), url('//at.alicdn.com/t/font_t0p593u0sy8pvi.ttf') format('truetype'), url('//at.alicdn.com/t/font_t0p593u0sy8pvi.svg#iconfont') format('svg');
  
  /* project id 212950 */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.iconFont {
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal;
}
body {
  font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}
body > div {
  min-height: 100%;
  height: auto !important;
  padding-bottom: 27px;
  position: relative;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.form-control {
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
button.btn-primary {
  background-color: #3499ef;
  border-color: #3ea5ff;
}
button.btn-primary:hover {
  background-color: #3499ef;
  border-color: #3ea5ff;
}
button.btn-primary:focus {
  background-color: #0089ff;
  border-color: #0074d6;
}
button.btn-primary:active {
  background-color: #0074d8;
  border-color: #0373d4;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.form-wrap {
  border: 1px solid #eee;
  box-shadow: 1px 4px 6px #eee;
  width: 310px;
  padding: 15px;
  margin: 40px auto;
  overflow: hidden;
}
.form-wrap h1 {
  text-align: center;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}
.notification,
.head,
.ranking,
.ranking-wrap,
.schedule-wrap,
.content-container {
  max-width: 800px;
  margin: 0 auto;
}
.home-part {
  overflow: hidden;
  margin: 0 auto;
}
.content-container {
  background-color: #fff;
  overflow: hidden;
}
.head-wrap {
  background-color: #fff;
}
.head {
  line-height: 57px;
  overflow: hidden;
}
.head h1 {
  float: left;
  line-height: 70px;
  margin: 0;
}
.head h1 a {
  margin-top: 20px;
  display: block;
  width: 48px;
  height: 42px;
  background: url("../images/logo.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.head .nav ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: -3px;
  border-bottom: 3px solid transparent;
  padding: 3px 15px 0;
}
.head .nav ul li a {
  color: #777777;
  margin-top: 10px;
  display: block;
  border-bottom: 2px solid transparent;
}
.head .nav ul li a:hover {
  border-bottom: 2px solid #68a1ff;
}
.notification {
  padding: 12px 10px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
}
.notification span {
  margin-left: 10px;
  color: #757575;
}
.ranking-wrap {
  margin-bottom: 25px;
}
.ranking .ranking-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.ranking .avatar {
  float: left;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.11);
  overflow: hidden;
}
.ranking .avatar img {
  width: 100%;
}
.ranking li {
  margin-bottom: 10px;
  overflow: hidden;
}
.ranking .item-wrap {
  margin-left: 72px;
}
.ranking .item-wrap p {
  margin: 10px 0 5px 0;
  color: #696969;
}
.ranking .item-wrap .score {
  position: relative;
  display: block;
  float: right;
  margin-right: 42px;
  color: rgba(255, 86, 31, 0.78);
}
.ranking .item-wrap .score:after {
  content: '绩点';
  position: absolute;
  width: 32px;
  left: 26px;
}
.ranking .item-wrap .progress {
  height: 5px;
}
.ranking .item-wrap .progress-bar {
  transition: 1s all ease;
  background-color: #FE7F5F;
}
.schedule-wrap .form-group .col-md-2 {
  padding: 0;
}
.schedule-wrap .form-control-static {
  display: inline-block;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
tr,
td {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border: 1px solid #eee;
  vertical-align: middle;
  font-family: 'MicroSoft YaHei';
}
/***************************/
.left-score,
.right-schedule {
  height: 200px;
  text-align: center;
}
.left-score a,
.right-schedule a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 200px;
  color: #fff;
}
.left-score {
  background-color: #4491ff;
}
.right-schedule {
  background-color: #6f43ff;
}
.schedule-wrap {
  padding: 10px 5px;
  overflow-x: scroll;
}
.schedule-wrap .form-group {
  margin: 0;
}
.schedule-wrap label {
  margin-top: 10px;
}
.schedule-wrap .col-md-2 {
  margin-bottom: 10px;
}
.score-wrap {
  color: #333;
  margin-bottom: 50px;
}
.score-wrap .btn-wrap {
  margin-top: 10px;
  text-align: center;
}
.score-wrap .btn-wrap .btn {
  width: 70%;
}
.score-wrap .item-wrap li {
  padding: 5px 10px;
  margin: 0 5px;
  border-bottom: 1px dashed #ddd;
}
.score-wrap .item-wrap li p {
  margin: 0;
}
.score-wrap .item-wrap li:nth-child(2n) {
  background-color: #d9edf7;
}
