//html,
//body {
//  height: 100%;
//}
body {
  font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}
.form-control {
  &:focus {
    box-shadow: none;
  }
  box-shadow: none;
}
button.btn-primary {
  background-color: rgb(52, 153, 239);
  border-color: #3ea5ff;
  &:hover {
    background-color: rgb(52, 153, 239);
    border-color: #3ea5ff;
  }
  &:focus {
    background-color: #0089ff;
    border-color: #0074d6;
  }
  &:active {
    background-color: #0074d8;
    border-color: #0373d4;
  }
}




.form-part {

}
.form-wrap {
  border: 1px solid #eee;
  box-shadow: 1px 4px 6px #eee;
  h1 {
    text-align: center;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  width: 310px;
  padding: 15px;
  margin: 85px auto;
  overflow: hidden;
}
